body {
    margin: 0 auto;
    background-color: #C5E9FF;
    font-family: Roboto;
}

.logo {
    width: 88px;
    height: 70px;
    margin: 22px 75px 24px 20px;
}
.authorization-page main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.col-left, .col-right {
    margin: auto 25px;
    width: 50%;
}
.col-left {
    text-align: end;
}
.col-right {
    text-align: start;
}
.polic-img {
    width: 375px;
    height: 375px;
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-right: 38px;
    padding-left: 42px;
    height: fit-content;
    min-height: 450px;
}
h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 118%;
}
p {
    text-align: left;
    font-size: 18px;
    margin: 8px 0;
}
.authorization-page button {
    align-self: flex-end;
    font-size: 18px;
    padding: 10px;
    color: rgba(0,0,0,0.8);
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 15px 0 8px;
    min-width: 150px;
    max-height: 40px;
    cursor: pointer;
}
a {
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-bottom: 25px;
}
input, select {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0 10px 20px;
    border-radius: 4px;
    font-size: 18px;
}
input::placeholder {
    color: rgba(0,0,0,0.2);
    font-size: 18px;

}
@media (max-width: 900px) {
    .polic-img{
        zoom: 0.7;
    }
    h2{
        font-size: 30px;
    }
    form{
        min-height: 415px;
    }
    p, button, a, input{
        font-size: 16px;
    }
}
