/*MODAL UPDATE*/
.modal-update{
    width: 640px;
    margin: 20px auto;
    background-color: white;
    height: 80%;
}
.modal-header{
    padding: 24px 40px;
}
.modal-wrapper{
    padding: 24px 30px 60px 40px;
}

.modal-wrapper input, .modal-wrapper select{
    width: 100%;
    height: 40px;
}
.modal-btn-footer{
    padding: 24px;
    text-align: right;
}
.modal-btn-save{
    background-color: rgba(197, 233, 255, 0.72);
    border: 2px solid rgba(197, 233, 255, 0.72);
}