.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    /*max-width: 500px;*/
    /*margin: 0 auto;*/
    /*display: flex;*/


    /*justify-content: center;*/
    /*padding-top: 200px;*/
    /*transform: scale(0);*/
}

.modal-content{}

.modal.active{
    transform: scale(1);
}