

.recording-btn button:disabled {
    background: #CCCCCC;
    color: rgba(0, 0 , 0, 0.5);
    cursor: auto;
}
.recording-btn button {
    background: white;
    cursor: pointer;
}

.tricks-page body{
    margin: 0 auto;
    background-color: #C5E9FF;
    font-family: Roboto;
}
.tricks-page .logo{
    width: 88px;
    height: 70px;
    margin: 22px 75px 24px 20px;
}
.tricks-page main{
    max-width: 1000px;
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.tricks-page input, .tricks-page button, .tricks-page select {
    width: 150px;
    margin-right: 10px;
    background-color: white;
}
input[type='date']{
    font-size: 16px;
}
.recording-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.recording-btn{
    align-self: end;
}
.recording-btn button{
    margin: 0;
}

.tricks-list-wrap div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.tricks-list-wrap div:last-child{
    display: flex;
    justify-content: space-evenly;
}
.text-trick-patient{
    width: 30%;
}
.text-trick-doctor{
    width: 25%;
}
.text-trick-date{
    width: 15%;
}
.text-trick-complaints{
    width: 20%;
}
.text-trick-btn{
    width: 10%;
}
.text-trick-btn-delete{
    width: 14px;
    height: 18px;
    cursor: pointer;
}
.text-trick-btn-update{
    width: 18px;
    height: 18px;
    cursor: pointer;
}








.hidden {
    display: none;
}
.visible {
    display: block;
}


.sort, .filter{
    display: flex;
    justify-content: flex-end;
}
